<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Taco Cloud</title>
		<link rel="stylesheet" th:href="@{/styles.css}" />
	</head>
	<body>
		<form method="POST" th:action="@{/orders}" th:object="${order}">
			<h1>Order your Taco creations!</h1>
			
			<img th:src="@{/images/TacoCloud.png}"/>
			<br/>
			<br/>			
			<a th:href="@{/design}" id="another">Design another taco</a>			
			<br/>
			<br/>
			<div th:if="${#fields.hasErrors()}">
				<span class="validationError">
					Please correct the problems below and resubmit.
				</span>
			</div>
			
			<h3>Deliver my Taco masterpieces to ...</h3>
			<fieldset>	
				<label for="name">Name:</label>
				<input type="text" th:field="*{name}"/>			
				<br/>
				<span class="validationError"
					th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}">Name Error</span>
				<br/>

				<label for="street">Street address:</label>
				<input type="text" th:field="*{street}">
				<br/>
				<span class="validationError"
					th:if="${#fields.hasErrors('street')}"
					th:errors="*{street}">Street Error</span>
				<br/> 
				
				<label for="city">City:</label>
				<input type="text" th:field="*{city}">
				<br/>
				<span class="validationError"
					th:if="${#fields.hasErrors('city')}"
					th:errors="*{city}">City Error</span>
				<br/> 
				
				<label for="state">State:</label>
				<input type="text" th:field="*{state}">
				<br/>
				<span class="validationError"
					th:if="${#fields.hasErrors('state')}"
					th:errors="*{state}">Street Error<br/></span>
				<br/> 
				
				<label for="zip">Zip code:</label>
				<input type="text" th:field="*{zip}">
				<br/>
				<span class="validationError"
					th:if="${#fields.hasErrors('zip')}"
					th:errors="*{zip}">Street Error</span>
				<br/> 
			</fieldset>
			<h3>Here is how you will pay...</h3>
			<fieldset>		
				<label for="ccNumber">Credit Card #: </label>
				<input type="text" th:field="*{ccNumber}"/>
				<br/>
				<span class="validationError"
					th:if="${#fields.hasErrors('ccNumber')}"
					th:errors="*{ccNumber}">CC Num Error</span>
				<br/>
				
				<label for="ccExpiration">Expiration:</label>
				<input type="text" th:field="*{ccExpiration}"/>
				<br/>
				<span class="validationError"
					th:if="${#fields.hasErrors('ccExpiration')}"
					th:errors="*{ccExpiration}">Expiration Error</span>
				<br/> 
				
				<label for="ccCVV">CVV:</label>
				<input type="text" th:field="*{ccCVV}"/>
				<br/> 
				<span class="validationError"
					th:if="${#fields.hasErrors('ccCVV')}"
					th:errors="*{ccCVV}">Expiration Error</span>
				<br/>				 
			</fieldset>
			<br/>
			<br/>
			<input type="submit" value="Submit order">
		</form>
			
	</body>
</html>